header {
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 10px rgb(216, 216, 216);
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 100px;
    height: 55px;
    width: 60px;
}