footer {
    height: 60px;
    background-color: #ab1f23;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
}